
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board {
    display: none;
    width: 50%;
    height: 500px;
    border: 1px solid #333;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background-image: url(/assets/background-lua.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


